login {
  background-color: #e9ecf4;

  .content {
    background: none;
  }

  .sign-in-logo {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: black;
  }

  .title {
    margin: 30px 0;
    font-size: 25px;
    text-align: center;
  }

  .login-wrapper {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .input {
    position: relative;

    &__text {
      display: block;
      border: none;
      width: 280px;
      height: 40px;
      margin: auto;
      margin-bottom: 1px;
      padding-left: 44px;
      color: black;
    }

    &__icon {
      font-size: 30px;
      position: absolute;
      top: 6px;
      left: 13px;
    }
  }

  .forgot-password {
    text-align: right;
    color: #a4b3c8;
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
  }

  .buttons {
    margin: auto;
    margin-top: 70px;
    width: 100%;

    &__login {
      border-radius: 20px;
      margin-left: 15px;
      padding: 20px 30px;
      text-transform: none;
    }
  }

  .terms {
    position: absolute;
    bottom: 13px;
    text-align: center;
    width: 100%;
    color: #a4b3c8;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .error {
    color: red;
  }
}